@import'utilities.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
header{
   background-color: black;
   clip-path: polygon(0 0,100% 0,100% 100%, 80% 95%,0 100%);
}

.container{
    max-width: 1152px;
    padding:0 15px;
    margin:0 auto;
}

header nav .left a{
    color: whitesmoke;
    text-decoration: none;
    margin-right: 2rem ;
    text-transform: uppercase;
    transition:all .3s ease ;
}
header nav .left a:hover{
    color: ;
}
header nav{
    padding:2rem 0 ;
}

header nav .branding{
    margin-right: 3rem;
}
.AHSAN{
    padding:3rem 0;
}
.AHSAN .left img{
   width: 400px; 
}
.AHSAN .right{
    color:blueviolet;
}
.AHSAN .right h6{
    font-size: 1.7rem;
    color:whitesmoke;
    margin-bottom: 0.5rem;
}
.AHSAN .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.AHSAN .right h1 samp{
    color: chartreuse;
}

.AHSAN .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

